::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.ac-cre-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pwDesc {
    margin-left: 15px;
    margin-right: 15px;
}

.register-btn {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.input-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 70vw;
}

.email-form {
    min-width: 50vw;
    max-width: 70vw;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.password-form {
    min-width: 50vw;
    max-width: 70vw;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.form-full-width {
    width: 100%;
}

.pwDesc {
    margin-left: 15px;
    margin-right: 15px;
}

.loginBtn {
    width: 100%;
}

.flex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 70vw;
}

.create-link :hover {
    color: blue;
    cursor: pointer;
    border-bottom: 1px solid blue;
}

.second-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.second-ctrl {
    width: 100%;
}

.confirm-btn {
    width: 100%;
}

.crm-error-display {
    width: 100%;
}